<body>
  <div class="large-3 columns">
    <p>
      <div id='cssmenu'>
        <ul>
          <li><a href='index.php'><span>Homepage</span></a></li>
          <li><a href='home.php'><span>My Dashboard</span></a></li>
          <li><a href='setup.php'><span>Setup Instructions</span></a></li>
        </ul>
      </div>
      <span id="menu_headers">Monitoring</span>
      <div id='cssmenu'>
        <ul>
          <li><a href='energy.php'><span>Energy Storage</span></a></li>
          <li><a href='fluid.php'><span>Fluid Storage</span></a></li>
        </ul>
      </div>
      <span id="menu_headers">Controls</span>
      <div id='cssmenu'>
        <ul>
          <li><a href='redstone.php'><span>Redstone Controls</span></a></li>
          <li><a href='reactor.php'><span>Reactor Controls</span></a></li>
        </ul>
      </div>
       <span id="menu_headers">Account</span>
          <div id="cssmenu">
            <ul>
            <li><a href="#" onclick="signOut()"><span>Logout</span></a></li>
            </ul>
          </div>
  </div>
</body>